.carrito {
    width: 30px;
    height: 100%;
    margin-left: 10px;
    margin-right: 30px;
}

.alinear {
    text-align: center;
}

#productTableBody{
    text-align: center;
}


.carrito {
    width: 30px; 
    height: auto;
    cursor: pointer;
    margin: 15px;
}

.carrito-counter {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 13px;
}
