
.card-link {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.card {
    margin: 10px;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.row {
    margin: 0;
}

.carrito {
    width: 30px; 
    height: auto;
    cursor: pointer;
    margin: 15px;
}

.carrito-counter {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 13px;
}



@media (min-width: 576px) {
    .card {
        width: 100%; 
    }
}

@media (min-width: 768px) {
    .card {
        width: 100%; 
    }
}

@media (min-width: 992px) {
    .card {
        width: 100%; 
    }
}

@media (min-width: 1200px) {
    .card {
        width: 100%; 
    }
}

